@model Projekt_atrakcje.Models.City

@{
    ViewData["Title"] = "Edycja";
}

<div class="container">
    <h1 class="text-center">Edycja</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                 <label asp-for="Name" class="control-label fw-bold"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label fw-bold"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Population" class="control-label fw-bold"></label>
                <input asp-for="Population" class="form-control" />
                <span asp-validation-for="Population" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label fw-bold">Nazwa kraju</label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Users" class="control-label fw-bold">Lista użytkowników, którzy odwiedzili już to miasto</label>
                <div class="form-check">
                    @foreach (var u in ViewBag.users)
                    {
                        <input type="checkbox" name="selectedUsers" value="@u.UserId" @u.Checked /> @u.Name
                    }
                </div>
                <span asp-validation-for="Users" class="text-danger"></span>
            </div>
                <div class="form-group text-center mt-3">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Wróć do strony głównej</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
