@{
    ViewData["Title"] = "Strona główna";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Atrakcje Turystyczne</h1>
        <p class="lead">Odkryj fascynujące atrakcje na całym świecie!</p>
        <hr class="my-4">
        <p>Przeglądaj nasze propozycje, aby znaleźć inspirację na podróż marzeń.</p>
   </div>
</div>
